@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

// @media screen and (min-width: 1140px) {
//   .features {
//     margin: -30px;
//   }
// }

.features__item {
  align-items: center;

  &::before {
    content: '';
    display: block;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-background-color);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

@each $iconName in 'antenna', 'clock', 'diagram', 'astronaut' {
  .#{$iconName}-icon::before {
    background-image: url(../images/icon/#{$iconName}.svg);
  }
}
