.header {
  position: relative;
}

.page-header,
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .page-header,
  .nav {
    justify-content: space-between;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav__link {
  padding: 5px 0;
}

// .site-nav {
//   margin-bottom: 300px;
// }

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// mobile version ---------------------
@media screen and (max-width: 767px) {
  .site-nav__link {
    padding: 0;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.18;
  }
}

.site-nav__current {
  position: relative;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;

      content: '';
      width: 100%;
      border: 2px solid var(--accent-color);
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: 305px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link {
    padding: 0;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover,
  .auth-nav__link:focus {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
  }
}

.auth-nav__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:last-child {
    margin-left: 30px;
  }
}

.menu-social {
  display: flex;
  margin-bottom: 48px;
}

.menu-social__link {
  display: inline;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-social__item:not(:last-child):after {
  content: '';
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    display: flex;
    align-items: center;
  }

  .menu-social {
    display: none;
  }
}
