.logo {
  // display: inline-block;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo-accent-color {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .logo {
    display: inline-block;
    padding: 16px 15px;
  }
}
