.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.18;
  }
}

.section__backgroung {
  background-color: var(--secondary-background-color);
}

.section-work {
  padding-bottom: 94px;
}
